@model Sirius.Web.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>Sirius</b>PM</a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">RESET YOUR PASSWORD.</p>
        @using (Html.BeginForm("SendResetPassword", "Account", FormMethod.Post, new { id = "resetPassword-form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group has-feedback">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control input-lg", @placeholder = "Email / Username", @name = "username" })
                @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "text-danger" })
            </div>
            <div class="form-group has-feedback">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-lg", @placeholder = "Password", @name = "password" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-danger" })
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <br>
                    <a href="javascript:document.getElementById('resetPassword-form').submit()" class="btn btn-primary btn-lg btn-block btn-flat">RESET</a>
                </div>
            </div>
        }
    </div>
</div>

