@model Sirius.Web.Models.PasswordSettingViewModel

@section styles{
    @Styles.Render("~/toastr/css")
}

@{
    ViewBag.Title = "Password Settings";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="row">
    @{ Html.RenderAction("SettingsPartial", new { link = "password" }); }

    <div class="col-md-6">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h2 class="box-title">Password</h2>
                <p class="text-muted">Change your password</p>
            </div>
            @using (Ajax.BeginForm("Account", "Settings", null, new AjaxOptions()
                {
                    OnBegin = "passwordBegin",
                    OnComplete = "passwordComplete",
                    OnFailure = "passwordFailure",
                    OnSuccess = "passwordSuccess",
                    HttpMethod = "Post",
                    InsertionMode = InsertionMode.Replace,
                }, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()

                <div class="box-body">
                    <p></p>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Current Password </label>
                        <div class="col-sm-7">
                            @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control" })
                            <p></p>
                            <p><a href="#"><b>Forgot your password?</b></a></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">New Password </label>
                        <div class="col-sm-7">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Confirm Password </label>
                        <div class="col-sm-7">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>

                </div>
                <div class="box-footer">
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-5">
                            <a id="submitButton" href="#" class="btn btn-success btn-block">Change Password</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>



@section scripts{
    @Scripts.Render("~/toastr/js")

    <script type="text/javascript">

          function passwordBegin() {
              $('#submitButton').attr('disabled', 'disabled');
          }
          function passwordComplete() {
              $('#submitButton').removeAttr('disabled');
          }
          function passwordSuccess(response) {
              if (response.Successful) {
                  toastr.success(response.Html);
              }
              else {
                  toastr.error(response.Html);
              }
          }
          function passwordFailure() {
              toastr.error("Something went wrong, please try again.");
          }

    </script>
}